.section-signin {
    margin-top: toRem(90);
    // height: 85vh;
    height: auto;
    min-height: 100vh;
    padding: toRem(50) toRem(70);
}
// .isValidHide {
//     .is-valid{
//         background: transparent
//     }
// }
.signup_heading1 {
    font-size: 1.25rem;
    font-family: "Nunito Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.0125em;
    color: rgba(48, 50, 100, 1);
    margin-bottom: 2rem;
}
.signup_heading2 {
    font-size: 1rem;
    font-family: "Nunito Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03125em;
    color: rgba(48, 50, 100, 1);
    margin-bottom: 2rem;
}
.sigin_heading1 {
    font-size: 1.25rem;
    font-family: "Nunito Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.0125em;
    color: rgba(48, 50, 100, 1);
    // margin-bottom: 2rem;
}
.signin_heading2 {
    font-size: 1rem;
    font-family: "Nunito Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03125em;
    color: rgba(48, 50, 100, 1);
    // margin-bottom: 2rem;
}
.signin_col1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.studnet_signup_card {
    padding: 8rem;
    background: url("../../assets//images/graduation.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;
    opacity: 0.6;
    border-radius: 0.5rem;
}

.clg_signup_card {
    padding: 7rem;
    background: url("../../assets//images/college_img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;
    opacity: 0.5;
    border-radius: 0.5rem;
    margin-left: 2rem;
}

.signup_card_btns {
    background-color: crimson;
    width: 10rem;
}

.main_signupcards {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.signup_form1 {
    padding: 3rem;
}
@media (max-width: 450px) {
    .signup_form1 {
        padding: 0.5rem;
    }
}

@media (max-width: 650px) {
    .main_signupcards {
        flex-direction: column;
    }
    .clg_signup_card {
        margin-top: 2rem;
    }
}
@media (max-width: 900px) {
    .clg_signup_card {
        padding: 4rem;
    }
    .studnet_signup_card {
        padding: 4rem;
    }
}
@media (max-width: 450px) {
    .clg_signup_card {
        padding: 2rem;
    }
    .studnet_signup_card {
        padding: 2rem;
    }
}
.contact_page {
    width: 50%;
    margin: auto;
    padding: 1rem;
    margin-top: 2rem;
}
@media (max-width: 775px) {
    .contact_page {
        width: 75%;
    }
}
@media (max-width: 530px) {
    .contact_page {
        width: 95%;
    }
}
.aboutUs {
    width: 73%;
    margin: auto;
    // text-align: center;
    padding: 2rem;
}
@media (max-width: 900px) {
    .aboutUs {
        width: 83%;
    }
}
.applicationForm {
    width: 74%;
    margin: auto;
}
@media (max-width: 650px) {
    .applicationForm {
        width: 100%;
    }
}
.personalInfo {
    width: 45rem;
}
@media (max-width: 400px) {
    .personalInfo {
        width: 20rem;
    }
}
