.college_container {
    height: 100%;
}
.innerTextCollegeMain {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.innerTextCollege {
    display: flex;
    flex-direction: column;
}
.innerTextCollegeTitle {
    color: gray;
    margin-bottom: 0.3rem;
}
.college_card {
    border-radius: 8px;
    box-shadow: 0px 5px 5px -3px rgb(148 149 174 / 20%), 0px 8px 10px 1px rgb(148 149 174 / 14%),
        0px 3px 14px 2px rgb(148 149 174 / 12%);
    border: none !important;
}
.collegeFavourite {
    position: absolute;
    height: 3rem;
    background-color: white;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 5px;
    display: flex;
    justify-content: space-evenly;
}
